* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  transition: all 200ms linear;
}
body {
  /* width: 100%;
  height: 100vh;
  font-family: calibri; */
  font-family: "tahoma";
  scroll-behavior: smooth;
  transition: var(--transition);
}
html {
  background: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #0a44b9 50%, #e4e9fd 50%);
  min-height: 100vh;
  font-family: "tahoma";
}

h1 {
  color: #fff;
  padding: 10px;
  font-family: cursive;
  font-size: 1.2rem;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px (rgba(0, 0, 0, 0.3));
}

#heading {
  background: #0a44b9;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.itme:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #0a44b9;
}

input[type="checkbox"] {
  margin: 20px 5px 20px 20px;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  color: #00204a;
  text-transform: capitalize;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #0a44b9;
  color: #fff;
  font-size: 20px;
  /* padding-bottom: 6px; */
  border-width: 0;
  position: relative;
  right: .3rem;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 200;
  width: 90%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #0a44b9;
}
::placeholder {
  color: grey;
  opacity: 1;
}
footer {
  color: #333333af;
  text-align: center;
  font-size: .8rem;
}

.errorPage_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: calibri;
  text-align: center;
}
